Motivation Player/~Motivation Player.kicad_sch.lck
Motivation Player/\#auto_saved_files\#
Motivation Player/~Motivation Player.kicad_pcb.lck
PCB/~_autosave-Motivation Player.kicad_pcb.lck
PCB/~Motivation Player.kicad_sch.lck
Motivation Player\Firmware\SD files
/Firmware/SD files
